VITE_SUPABASE_URL=https://goymjhmstyemqvazywpe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdveW1qaG1zdHllbXF2YXp5d3BlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3Mzg2NzQsImV4cCI6MjA5OTMxNDY3NH0.pSwbdgESKGACuiMvJ7idS5tfWgm3QOSwaEkwsSb1vXc
